{
  "presets": [
    ["@babel/env", {
      "modules": false,
      "targets": {
        "browsers": "last 2 versions"
      },
      "useBuiltIns": "entry"
    }],
    "@babel/stage-0",
    "@babel/react"
  ],

  "plugins": [
    "lodash",
    "react-loadable/babel",
    ["module-resolver", {
      "root": "./src",
      "alias": {
        "config": "./config",
        "vendor": "./vendor"
      }
    }],
    ["@babel/plugin-proposal-class-properties", { 
      "loose": true 
    }],
    ["react-css-modules", {
      "webpackHotModuleReloading": true,
      "filetypes": {
        ".sass": { 
          "syntax": "sugarss",
          "plugins": [
            "autoprefixer"
          ]
        }
      }
    }]
  ]
}
